html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: "roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

div {
	border: 1px solid none;
}

/* Typography Declarations */
.top-navigation {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

/* Navigation Section */
.top-navigation {
	background-color: #fff;
}

.top-navigation .content {
	width: 970px;
	max-height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
}

.top-navigation .links {
	float: right;
}

.top-navigation .links li {
	display: inline-block;
	margin-top: 0.5em;
	margin-left: 2em;
}

.top-navigation a {
	text-decoration: none;
	color: #838994;
}

.top-navigation .active a {
	color: #4c5058;
	font-weight: 500;
}

.top-navigation .links a:hover {
	cursor: pointer;
	color: #333333;
}

.introduction {
	background-image: url('../images/first-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 45.938rem;
	overflow: auto;
}

.content h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	font-weight: 300;
	color: #fff;
	margin-top: 15rem;
}

.content h3 {
	text-align: center;
	font-size: 1.6em;
	font-weight: 300;
	color: #fff;
	text-decoration: none;
	margin-top: -0.8em;
}

.introduction .buttons {	
	font-size: 1.2em;
	text-align: center;
	margin: 0 auto;
	margin-top: 1em;
}

button {
	text-shadow: none;
	border-style: none;
	border-radius: 0.275rem;
	padding: 1rem 1rem;
	width: 8em;
	background-color: #f15a29;
	border-color: #f15a29;
	color: #ffffff;
}

button:hover {
	cursor: pointer;
	background-color: #d9400e;
	border-color: #cf3d0e;
}

.cases h2 {
	font-size: 2.8rem;
	font-weight: 300;
	text-align: center;
	margin-top: 2.75em;
}

.cases .devices li {
	font-size: 1.3rem;
	display: inline-block;
	width: 33%;
	box-sizing: border-box;
	text-align: center;
	margin-top: 2em;
}

.cases .devices .caption h3 {
	font-weight: 400;
}

.social {
	background-color: #fff;
	padding-bottom: 9.375rem;
	text-align: center;
	overflow: auto;
}

.social hr {
	border: 0;
	border-top: 1px solid #eaebec;
	margin-top: 6em;
}

.social .icons li {
	border-radius: 1.25rem;
	width: 2.5rem;
	height: 2.5rem;
	margin: 1.25rem;
	display: inline-block;
	border: 1px solid #eaebec;
	padding: 0.635rem 0;
	text-align: center;
	margin-right: 4em;
}

.social h5 {
	text-align: center;
	color: #333333;
	font-size: 1rem;
	font-weight: 500;
	margin-bottom: -1em
}
.social h6 {
	text-align: center;
	color: #838994;
	font-size: 0.938rem;
	font-weight: 300;
	margin-top: -1em;
}

